<div class="container mt-3">
    <h4>Đặt hàng thành công</h4>
    <div class="alert alert-info">
        Đơn đặt hàng của bản đã được gửi về shop, Cảm ơn đã mua sắp.
        <a href="/KhachHang/Home/Index">Trở về mua sắp tiếp</a>
    </div>
</div>
